


	<center>
		<h1><p style="color:white">
			Are You Above Average?
			<br>
			<small>
				Above Average measures and compares the daily habits of New Yorkers.
			</small>
		</br>
	</h1>
</center>



