
<div class="welcome-instruction">
	<div style="background-color: rgba(250,250,250,0.6)">

	<h2>
		Are You Above Average?
	</h2>
	<h4>
		Above Average measures the daily habits of New Yorkers. Sign up is easy, and no personally information is required.  See how you compare.
	</h4>
</div>


