<div>
	<h3>
		Punch List
	</h3>
	<ul>
		<li>
			Enter a list item
		</li>
	</ul>
</div>

<div>
	<h3>
		Virginia
	</h3>
	<ul>
		<li>
			Profile Model
		</li>

		<li>
			BootStrap
		</li>
		<li>
			Ruby/JavaScript graphics to show the metrics
		</li>
	</ul>
</div>

<div>
	<h3>
		Chris
	</h3>
	<ul>
		<li>
			Finish Devise User
		</li>
		<li>
			Model for At Home thingy
		</li>
		<li>
			Sophia
		</li>
	</ul>
</div>