<h3>
	User's Page
</h3>

<p>
	Give some info:
</p>

<div>
	<% if @user.profiles.last.nil? %>
		<%= link_to 'Create a Profile', new_user_profile_path(:user_id => @user.id), method: :get %>
	<% end %>
</div>

<div>
	<% if @user.utilities.last.nil? || @user.utilities.last.created_at < 30.day.ago %>
		<%= link_to 'Tell us about your Utility bill', new_user_utility_path(:user_id => @user.id), method: :get %>
	<% end %>
</div>

<div>
	<% if @user.recyclings.last.nil? || @user.recyclings.last.created_at < 45.day.ago %>
		<%= link_to "Let's talk about your recycling habits", new_user_recycling_path(:user_id => @user.id), method: :get %>
	<% end %>
</div>
					